body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

.container h1{
    text-align: left;
}

.container p{
    margin-top: 5px;
    text-align: left;
}
/* Navbar */
.navbar {
    background-color: #1f1f1f; /* Dark background color */
    padding: 10px 20px; /* Adjust padding for a more compact layout */
}

.navbar-brand img {
    height: 60px; 
    width: auto;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    font-weight: 500; /* Slightly bold */
    margin-right: 25px; /* Space between links */
    text-transform: uppercase; /* Make all nav items uppercase */
    letter-spacing: 1px;
    transition: color 0.3s ease, border-botttom 0.3s ease;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: #a8a8a8; /* Slightly lighter on hover */
}

.navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #a8a8a8;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav .nav-link:hover::after{
    width: 100%;
    left: 0;
}

/* Heading section */
section.text-center h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

section.text-center p.lead {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #666;
}

section.text-center p {
    color: #666;
}

/* Project Cards Section */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.img-card {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.img-body {
    text-align: center;
    padding: 15px;
}

.img-title {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.img-text {
    font-size: 0.9rem;
    color: #777;
}

/* Footer Section */
footer{
    background-color: #000;
    position: relative;
}
.footer{
    background-image: url("/Images/pattern-footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    opacity: 0;
    max-width: 1200px;
    margin: 0px auto;
    transform: translate(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.footer-visible{
    opacity: 1;
    transform: translateY(0);
}

.footer .section{
    flex: 1;
    padding: 0 20px;
}

.section h4{
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
}

.section p, .section li{
    font-size: 14px;
    color: #d3d3d3;
    margin-bottom: 10px;
}

.section ul{
    list-style: none;
    padding: 0;
}

.section ul li{
    color: #d3d3d3;
}

.section ul li:hover{
    color: white;
}

.section img{
    width: 200px;
    margin-bottom: 10px;
    background-size: cover;
}

footer p{
    margin: 5px 0;
}

footer a{
    color: #d3d3d3;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

footer .footer-bottom{
    background-color: #111;
    padding: 10px 0;
    font-size:  12px;
    color: #d3d3d3;
    text-align: center;
}

.footer a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover{
    color: #ddd;
}

.footer p{
    margin: 0;
    margin-left: 5px;
}

.scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    display: none;
    z-index: 1000;
    cursor: pointer;
    transition: opacity 0.3s ease;
}